In [1]:
include("src//hll_store.jl")

Main.Store

In [2]:
using TidierData
using TidierDB 
using DataFrames
using CSV
# using HTTP
using ..Util 

db = TidierDB.connect(:duckdb);
path = "https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv"
copy_to(db, path, "mtcars");

TidierDB.@chain db_table(db, :mtcars) begin
    TidierDB.@filter(!starts_with(model, "M"))
    TidierDB.@group_by(cyl)
    TidierDB.@summarize(mpg = mean(mpg))
    TidierDB.@mutate(mpg_squared = mpg^2, 
               mpg_rounded = round(mpg), 
               mpg_efficiency = case_when(
                                 mpg >= cyl^2 , "efficient",
                                 mpg < 15.2 , "inefficient",
                                 "moderate"))            
    TidierDB.@filter(mpg_efficiency in ("moderate", "efficient"))
    TidierDB.@arrange(desc(mpg_rounded))
    TidierDB.@collect
end

TidierDB.@chain db_table(db, :mtcars) begin
    # @distinct(Games)
    # @count
    @collect
end

32Ã—12 DataFrame
 Row â”‚ model              mpg       cyl     disp      hp      drat      wt     â‹¯
     â”‚ String?            Float64?  Int64?  Float64?  Int64?  Float64?  Float6 â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Mazda RX4              21.0       6     160.0     110      3.9      2.6 â‹¯
   2 â”‚ Mazda RX4 Wag          21.0       6     160.0     110      3.9      2.8
   3 â”‚ Datsun 710             22.8       4     108.0      93      3.85     2.3
   4 â”‚ Hornet 4 Drive         21.4       6     258.0     110      3.08     3.2
   5 â”‚ Hornet Sportabout      18.7       8     360.0     175      3.15     3.4 â‹¯
   6 â”‚ Valiant                18.1       6     225.0     105      2.76     3.4
   7 â”‚ Duster 360             14.3       8     360.0     245      3.21     3.5
   8 â”‚ Merc 240D              24.4       4     146.7      62      3.69     3.1
   9 â”‚ Merc 230               22.8       4     140.8      95      3.92     3.1 â‹¯
  10 â”‚ Merc 280               19.2       6     167.6     123      3.92     3.4
  11 â”‚ Merc 280C              17.8       6     167.6     123      3.92     3.4
  â‹®  â”‚         â‹®             â‹®        â‹®        â‹®        â‹®        â‹®         â‹®   â‹±
  23 â”‚ AMC Javelin            15.2       8     304.0     150      3.15     3.4
  24 â”‚ Camaro Z28             13.3       8     350.0     245      3.73     3.8 â‹¯
  25 â”‚ Pontiac Firebird       19.2       8     400.0     175      3.08     3.8
  26 â”‚ Fiat X1-9              27.3       4      79.0      66      4.08     1.9
  27 â”‚ Porsche 914-2          26.0       4     120.3      91      4.43     2.1
  28 â”‚ Lotus Europa           30.4       4      95.1     113      3.77     1.5 â‹¯
  29 â”‚ Ford Pantera L         15.8       8     351.0     264      4.22     3.1
  30 â”‚ Ferrari Dino           19.7       6     145.0     175      3.62     2.7
  31 â”‚ Maserati Bora          15.0       8     301.0     335      3.54     3.5
  32 â”‚ Volvo 142E             21.4       4     121.0     109      4.11     2.7 â‹¯
                                                   6 columns and 11 rows omitted

In [3]:
typeof(db)

DuckDB.Connection

In [4]:
using EasyConfig

edge_props = Config()
edge_props["source"] = "file.item"
edge_props["target"] = "assign.item"
edge_props["source_label"] = "csv_file"
edge_props["target_label"] = "csv_column"
edge = Graph.Edge("file.id", "assign.id", "has_column", edge_props)

df = struct_to_df(edge)

1Ã—4 DataFrame
 Row â”‚ source     target       r_type        props                             â‹¯
     â”‚ String     String       String        String                            â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ "file.id"  "assign.id"  "has_column"  {"source":"file.item","target":"â€¦ â‹¯

In [5]:
Graph.add_edge(db, edge)

@chain db_table(db, Symbol("information_schema.tables")) begin
    @collect
end

2Ã—13 DataFrame
 Row â”‚ table_catalog  table_schema  table_name  table_type  self_referencing_c â‹¯
     â”‚ String?        String?       String?     String?     String?            â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ memory         main          mtcars      BASE TABLE  missing            â‹¯
   2 â”‚ memory         main          edges       VIEW        missing
                                                               9 columns omitted

In [6]:
@chain db_table(db, :mtcars) begin
    TidierDB.@filter(!starts_with(model, "M"))
    TidierDB.@group_by(cyl)
    TidierDB.@summarize(mpg = mean(mpg))
    TidierDB.@mutate(mpg_squared = mpg^2, 
               mpg_rounded = round(mpg), 
               mpg_efficiency = case_when(
                                 mpg >= cyl^2 , "efficient",
                                 mpg < 15.2 , "inefficient",
                                 "moderate"))            
    TidierDB.@filter(mpg_efficiency in ("moderate", "efficient"))
    TidierDB.@arrange(desc(mpg_rounded))
    TidierDB.@collect
    TidierData.@pivot_longer(everything(), names_to = "variable", values_to = "value")
end

10Ã—2 DataFrame
 Row â”‚ variable        value
     â”‚ String          Any
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ cyl             4
   2 â”‚ cyl             6
   3 â”‚ mpg             27.3444
   4 â”‚ mpg             19.7333
   5 â”‚ mpg_squared     747.719
   6 â”‚ mpg_squared     389.404
   7 â”‚ mpg_rounded     27.0
   8 â”‚ mpg_rounded     20.0
   9 â”‚ mpg_efficiency  efficient
  10 â”‚ mpg_efficiency  moderate

In [7]:
@chain db_table(db, :mtcars) begin
    TidierDB.@filter(!starts_with(model, "M"))
    TidierDB.@group_by(cyl)
    TidierDB.@summarize(mpg = mean(mpg))
    TidierDB.@mutate(mpg_squared = mpg^2, 
               mpg_rounded = round(mpg), 
               mpg_efficiency = case_when(
                                 mpg >= cyl^2 , "efficient",
                                 mpg < 15.2 , "inefficient",
                                 "moderate"))            
    TidierDB.@filter(mpg_efficiency in ("moderate", "efficient"))
    TidierDB.@arrange(desc(mpg_rounded))
    TidierDB.@show_query
end

WITH cte_1 AS (
SELECT *
	FROM mtcars
	WHERE NOT (starts_with(model, 'M'))),
cte_2 AS (
SELECT cyl, AVG(mpg) AS mpg
	FROM cte_1
	GROUP BY cyl),
cte_3 AS (
SELECT  cyl, mpg, POWER(mpg, 2) AS mpg_squared, ROUND(mpg) AS mpg_rounded, CASE WHEN mpg >= POWER(cyl, 2) THEN 'efficient' WHEN mpg < 15.2 THEN 'inefficient' ELSE 'moderate' END AS mpg_efficiency
	FROM cte_2 ),
cte_4 AS (
SELECT *
	FROM cte_3
	WHERE mpg_efficiency in ('moderate', 'efficient'))
SELECT *
	FROM cte_4
	ORDER BY mpg_rounded DESC

In [8]:
@chain db_table(db, :mtcars) begin
    TidierDB.@group_by(cyl)
    TidierDB.@summarize(across((starts_with("a"), ends_with("s")), (mean, sum)))
    TidierDB.@collect
end

3Ã—5 DataFrame
 Row â”‚ cyl     mean_am   mean_vs   sum_am   sum_vs
     â”‚ Int64?  Float64?  Float64?  Int128?  Int128?
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚      4  0.727273  0.909091        8       10
   2 â”‚      6  0.428571  0.571429        3        4
   3 â”‚      8  0.142857  0.0             2        0

In [9]:
using RDatasets
using TidierDB
using TidierData

movies = dataset("ggplot2", "movies");

@chain movies begin
    TidierData.@mutate(Budget = Budget / 1_000_000)
    TidierData.@filter(Budget >= mean(skipmissing(Budget)))
    TidierData.@select(Title, Budget)
    @slice(1:5)
end

5Ã—2 DataFrame
 Row â”‚ Title                       Budget
     â”‚ String                      Float64?
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 'Til There Was You              23.0
   2 â”‚ 10 Things I Hate About You      16.0
   3 â”‚ 102 Dalmatians                  85.0
   4 â”‚ 13 Going On 30                  37.0
   5 â”‚ 13th Warrior, The               85.0

In [10]:
@chain movies begin
    @slice(1:5)
end

5Ã—24 DataFrame
 Row â”‚ Title                     Year   Length  Budget   Rating   Votes  R1    â‹¯
     â”‚ String                    Int32  Int32   Int32?   Float64  Int32  Float â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ $                          1971     121  missing      6.4    348      4 â‹¯
   2 â”‚ $1000 a Touchdown          1939      71  missing      6.0     20      0
   3 â”‚ $21 a Day Once a Month     1941       7  missing      8.2      5      0
   4 â”‚ $40,000                    1996      70  missing      8.2      6     14
   5 â”‚ $50,000 Climax Show, The   1975      71  missing      3.4     17     24 â‹¯
                                                              18 columns omitted

In [11]:
@glimpse(movies)

Rows: 58788
Columns: 24
.Title         String         $, $1000 a Touchdown, $21 a Day Once a Month, $40,
.Year          Int32          1971, 1939, 1941, 1996, 1975, 2000, 2002, 2002, 19
.Length        Int32          121, 71, 7, 70, 71, 91, 93, 25, 97, 61, 99, 96, 10
.Budget        Union{Missing, Int32}missing, missing, missing, missing, missing,
.Rating        Float64        6.4, 6.0, 8.2, 8.2, 3.4, 4.3, 5.3, 6.7, 6.6, 6.0,
.Votes         Int32          348, 20, 5, 6, 17, 45, 200, 24, 18, 51, 23, 53, 44
.R1            Float64        4.5, 0.0, 0.0, 14.5, 24.5, 4.5, 4.5, 4.5, 4.5, 4.5
.R2            Float64        4.5, 14.5, 0.0, 0.0, 4.5, 4.5, 0.0, 4.5, 4.5, 0.0,
.R3            Float64        4.5, 4.5, 0.0, 0.0, 0.0, 4.5, 4.5, 4.5, 4.5, 4.5,
.R4            Float64        4.5, 24.5, 0.0, 0.0, 14.5, 14.5, 4.5, 4.5, 0.0, 4.
.R5            Float64        14.5, 14.5, 0.0, 0.0, 14.5, 14.5, 24.5, 4.5, 0.0,
.R6            Float64        24.5, 14.5, 24.5, 0.0, 4.5, 14.5, 24.5, 14.5, 0.0,
.R7            Float64        24.5, 14.5, 0.0, 0.0, 0.0, 4.5, 14.5, 14.5, 34.5,
.R8            Float64        14.5, 4.5, 44.5, 0.0, 0.0, 4.5, 4.5, 14.5, 14.5, 4
.R9            Float64        4.5, 4.5, 24.5, 34.5, 0.0, 14.5, 4.5, 4.5, 4.5, 4.
.R10           Float64        4.5, 14.5, 24.5, 45.5, 24.5, 14.5, 14.5, 14.5, 24.
.MPAA          CategoricalArrays.CategoricalValue{String, UInt8}, , , , , , R, ,
.Action        Int32          0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
.Animation     Int32          0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
.Comedy        Int32          1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
.Drama         Int32          1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
.Documentary   Int32          0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
.Romance       Int32          0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
.Short         Int32          0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,

In [12]:
@chain begin
    [1, 2, 3]
    filter(isodd, _)
    @aside @info "There are \$(length(_)) elements after filtering"
    sum
end

[ Info: There are $(length(_)) elements after filtering

4

In [13]:
@chain begin
    [1, 2, 3]
    filtered = filter(isodd, _)
    sum
end
filtered == [1, 3]

true

In [14]:
@chain begin
    [1, 2, 3]
    @. sqrt
end

3-element Vector{Float64}:
 1.0
 1.4142135623730951
 1.7320508075688772

In [15]:
using DataFrames, Chain

df = DataFrame(group = [1, 2, 1, 2, missing], weight = [1, 3, 5, 7, missing])

result = @chain df begin
    dropmissing
    filter(r -> r.weight < 6, _)
    groupby(:group)
    combine(:weight => sum => :total_weight)
end

2Ã—2 DataFrame
 Row â”‚ group  total_weight
     â”‚ Int64  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1             6
   2 â”‚     2             3

In [16]:
using CSV

@chain df begin
    dropmissing
    filter(r -> r.weight < 6, _)
    @aside @chain _ begin
            select(:group)
            CSV.write("filtered_groups.csv", _)
        end
    groupby(:group)
    combine(:weight => sum => :total_weight)
end

2Ã—2 DataFrame
 Row â”‚ group  total_weight
     â”‚ Int64  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1             6
   2 â”‚     2             3